* {
    margin: 0;
    padding: 0;

  }
  
  .container {
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 5fr;
    height: 100vh;
    width: 100vw;
    background-color: #f8fafc;
  }

.sidebar {
    background-color: #64748b;
    min-width: 200px;
}

h2 {
    margin-bottom: 25px;
}

.checkbox {
    margin-top: 5px;
}

label {
    font-weight: 600;
}

.input {
    margin: 5px;
    background-color: #f8fafc;
    border: 0;
    border-radius: 5px;
    padding: 4px;
}

footer {
    position: absolute;
    bottom: 20px;
    left: 40px;
}

.bookInput {
    margin-top: 20px;
}

.header {
    background-color: #94a3b8;
    padding: 40px;
    box-shadow: 0px 5px 10px #475569;
    text-align: left;
}

.library {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 15px;
    margin: 15px;
}

.card {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    background-color: #e2e8f0;
    box-shadow: 0px 5px 10px #475569;
    gap: 10px;
    border-radius: 10%;
}

bR {
    height: 10px;
}

.readAndTrash {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.bookRead,
.notRead,
.trash {
    height: 20px;
    background-repeat: no-repeat;
    background-position: center;
}

.bookRead {
   
    background-image: url(./book-outline.svg);
}

.notRead {
    background-image: url(./book-open-page-variant-outline.svg);
}

.trash {
    background-image: url(./fire.svg);
}

button {
    padding: 10px;
    border-radius: 15px;
    border: 0;
    background-color: #1e293b;
    margin-top: 20px;
    color: #f1f5f9;
}